body{
    background-color: rgb(255, 238, 217);
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 2px solid rgb(182, 182, 182);
}

#nomPrenom{
    padding-left: 3rem;
}

#liste_nav{
    display: flex;
    padding-right: 3rem;
}

#liste_nav li{
    padding-left: 1rem;
    display: flex;
}

#main{
    margin-left: 3rem;
    margin-right: 3rem;
}

#titre{
    padding-left: 3rem;
}

@media screen and (width>=600px) {
    #cartes{
        display: grid;
        padding-right: 30px;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (width>=1024px) {
    #cartes{
        display: grid;
        padding-right: 30px;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (width>=1200px) and (width<=2000px) {
    #cartes{
        display: grid;
        padding-right: 30px;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.contenuCarte{
    border:1px solid black;
    border-radius: 5px;
}

.imageCarte{
    text-align: center;
    padding: 4rem;
    border-bottom:1px solid black;
}

.infoCarte{
    padding-left: 2rem;
}

#Logo{
    background-color: rgb(221, 221, 221);
    padding-left: 40px;
    padding: 20px;
    padding-right: 80px;
}

#Slogan{
    margin-top: 10px;
    padding-left: 20px;
}

footer{
    display: flex;
    border-top: 2px solid rgb(189, 189, 189);
    justify-content: space-between;
}

#liens{
    display: flex;
    gap:10rem;
    padding-right: 20rem;
}